html {
  background-color: #303030;
}

* {
  font-family: sans-serif;
}

body {
  color: white;
}

body, div {
  margin: 0;
  padding: 0;
}

a {
  color: DodgerBlue;
}

a:hover {
  color: gray;
}

.menubar {
    flex: 0 1 auto;
    width: 200px;
    min-height: 100vh;
    background: #000000;
}
