html {
  background-color: #222324;
}

* {
  font-family: sans-serif;
}

body {
  color: white;
}

body, div {
  margin: 0;
  padding: 0;
}

a {
  color: DodgerBlue;
}

a:hover {
  color: gray;
}

.container {
  display: flex;
  flex-flow: row;
}

.menubar {
    flex: 0 1 auto;
    min-width: 250px;
    width: 250px;
    max-width: 250px;
    min-height: 100vh;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-flow: column;
    background: #000000;
    word-break: break-all;
    word-wrap: break-word;
}

.menubutton {
  width: 100%;
  min-height: 30px;
  border-radius: 4px;
  border-color: #373737;
  background-color: #373737;
  color: white;
  font-size: 14px;
}

.chat_container {
  width: 300px;
}

.chat {
  width: 300px;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
  background: white;
}

.chat_header {
  padding: 5px;
  color: black;
}

.chat_main {
  flex: 2;
  overflow: hidden;
  word-wrap: break-word;
  background-color: #cbcbcb;
  color: black;
}

.chat_form {
  display: flex;
  flex-flow: row;
  background-color: white;
  color: black;
}

.chat_input {
  flex: 2;
  overflow: auto;
  resize: none;
}
